@import url('https://fonts.googleapis.com/css?family=Arizonia|PT+Mono|Abel&display=swap');

html {
  font-size: 16px;

  @media (max-width: 600px) {
    font-size: 14px;
  }

  @media (max-width: 350px) {
    font-size: 12px;
  }
}

* {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: Abel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
ul,
body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
  padding: 20px 10px;
}

.error {
  margin: 0;
  padding: 5px 0;
  color: #d71818;
  font-size: 0.8em;
}

#App {
  overflow: auto;
  max-height: 100vh;
  animation-name: show;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  @keyframes show {
    from {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  // THEME
  .skills {
    ul>li {
      color: #fff;
      background: #1a3bbd;
    }
  }

  .jump>div {
    @media (max-width: 300px) {
      border: 1px dashed transparent;
    }
  }

  .connect {
    background: #141c24;
    border: 1px dashed #444;

    li a {
      &:hover {
        svg {
          fill: #d0d3ff;

          &.angel_svg__angel path:last-child {
            fill: #d0d3ff;
          }
        }
      }

      svg {
        fill: #9fa4ff;
      }
    }
  }

  #Contact {
    color: #fff;

    form {

      label {

        input,
        textarea {
          color: #fff;
          border: 1px dashed #555;
        }
      }

      button {
        color: #fff;
        border: 1px dashed #555;

        &:hover {
          background: #0f161e;
        }

        &:active {
          color: #000;
          background: #fff;
        }
      }
    }
  }

  #Footer {
    color: #fff;

    ul li a svg {
      fill: #9fa4ff;

      &:hover {
        fill: #d0d3ff;
      }

      &.angel_svg__angel:hover path:last-child {
        fill: #d0d3ff;
      }
    }
  }

  #Credit div:nth-child(2) {
    @media (min-width: 701px) {

      &:before,
      &:after {
        background: #dcffc4;
      }
    }
  }

  &.dark {
    #Header {
      background: #141c24;
      border-bottom: 1px dashed #444;

      * {
        color: #fff;
      }

      .nav li:hover {
        border-bottom-color: #fff;
      }

      .jump>div {
        background: #141c24;

        @media (max-width: 300px) {
          border-color: transparent #444 #444;
        }
      }

      .theme button:active img {
        background: #eef1ff;
      }

      .connect .toggle {
        border-top: 1px dashed #444;
      }
    }

    #Vitrine {
      color: #fff;
      background: #181e28;

      .card {
        background: #141c24;
        border: 1px dashed #444;

        .title {
          border-bottom: 1px dashed #444;
        }

        .name {
          color: #e7ee11;
        }
      }

      .separator {
        border-right: 1px dashed #444;
      }
    }

    #Projects {
      color: #fff;
      background: #0f161e;

      .item {
        background: #181e28;
        border: 1px dashed #444;

        .info {
          .tech li {
            background: #1a3bbd;
          }

          .external a {
            color: #000;
            background: #d0d3ff;
          }
        }

        .separator {
          border-right: 1px dashed #444;
        }
      }
    }

    #Contact {
      background: #070815;
    }

    #Footer {
      background: #070911;
    }
  }

  &.light {
    #Header {
      background: #eef1ff;
      border-bottom: 1px dashed #000;

      * {
        color: #000;
      }

      .nav li:hover {
        border-bottom-color: #000;
      }

      .jump>div {
        background: #eef1ff;

        @media (max-width: 300px) {
          border-color: transparent #000 #000;
        }
      }

      .theme button:active img {
        background: #141c24;
      }

      .connect .toggle {
        border-top: 1px dashed #eef1ff;
      }
    }

    #Vitrine {
      background: #f5f7ff;

      .card {
        background: #eef1ff;
        border: 1px dashed #000;

        .title {
          border-bottom: 1px dashed #000;
        }

        .name {
          color: #847d10;
        }
      }

      .separator {
        border-right: 1px dashed #000;
      }
    }

    #Projects {
      color: #000;
      background: #dde3ff;

      .item {
        background: #192131;

        .info {
          color: #fff;

          .tech li {
            background: #1a3bbd;
          }

          .external a {
            color: #000;
            background: #d0d3ff;
          }
        }

        .separator {
          border-right: 1px dashed #555;
        }
      }
    }

    #Contact {
      background: #192131;
    }

    #Footer {
      background: #141826;
    }
  }
}

// GENERAL
#Header {
  top: 0;
  width: 100%;
  height: 12vw;
  display: flex;
  z-index: 1000;
  padding: 0 5px;
  position: fixed;
  min-height: 60px;
  align-items: center;
  justify-content: center;

  .brand {
    width: 25%;
    padding: 0 3%;
    font-size: 2em;
    font-weight: 700;
    font-family: Arizonia;

    @media (max-width: 850px) {
      text-align: center;
    }

    @media (max-width: 600px) {
      font-size: 1.5em;
    }

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  .nav {
    width: 50%;
    display: flex;
    padding: 0 5px;
    min-height: 100%;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 850px) {
      width: 75%;
    }

    .jump {
      display: flex;
      min-height: 60px;
      position: relative;
      background: inherit;
      align-items: center;


      @media (max-width: 300px) {
        &:hover>div {
          display: block;
        }
      }

      >div {
        display: flex;
        padding: 0 7px;

        @media (max-width: 300px) {
          left: 0;
          display: none;
          position: absolute;
          top: calc(100% - 1px);
        }

        li {
          @media (max-width: 300px) {
            border-bottom-width: 1px;
            text-transform: capitalize;
          }
        }
      }

      button {
        height: 100%;
        border: none;
        display: none;
        background: none;
        font-weight: 700;
        padding: 5px 10px;

        @media (max-width: 300px) {
          display: block;
        }

        &:active {
          padding: 5px 10px;
        }
      }
    }

    li {
      text-transform: uppercase;
      border-bottom: 2px solid transparent;

      a {
        display: block;
        padding: 5px 1vw;
        font-weight: 700;
        text-decoration: none;
      }

      &.theme button {
        border: none;
        cursor: pointer;
        padding: 5px 0 0;
        background: none;

        &:active {
          padding: 5px 0 0;
        }

        img {
          width: 2em;
          height: 2em;
          border-radius: 50%;
        }
      }
    }
  }

  .connect {
    left: 0;
    right: 0;
    top: 100%;
    width: 50px;
    margin: auto;
    border-top: none;
    position: absolute;
    text-align: center;
    border-radius: 0 0 30px 30px;

    @media (max-width: 500px) {
      left: 3%;
      margin: 0;
      width: 40px;
    }

    &:hover li {
      opacity: 1;
      height: 40px;
    }

    li {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all ease-out 0.5s;

      a {
        display: block;
        padding: 5px 12px;

        @media (max-width: 500px) {
          padding: 4px;
        }
      }

      &.toggle {
        opacity: 1;
        height: auto;
        padding: 5px;
        border-radius: 0 0 30px 30px;

        .animate {
          width: 25px;
          height: 25px;
          margin: auto;
          animation-name: rotate;
          animation-duration: 1s;
          animation-play-state: paused;
          animation-timing-function: linear;
          animation-iteration-count: infinite;

          @media (max-width: 500px) {
            width: 20px;
            height: 20px;
          }

          &.run {
            animation-play-state: running;
          }

          svg {
            width: 100%;
            height: 100%;
            transform: translateX(-2px);
          }

          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

#Vitrine {
  display: flex;
  margin-top: 12vw;
  min-height: calc(100vh - 12vw);

  @media (max-width: 850px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    margin-top: 60px;
    padding-top: 5mm;
  }

  .about,
  .skills {
    flex: 1;
    padding: 4%;
    min-width: 49%;

    @media (max-width: 400px) {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .card {
    height: 100%;
    border-radius: 5px;

    @media (max-width: 850px) {
      width: 98%;
      margin: auto;
      max-width: 600px;
    }

    .title {
      padding: 10px;
    }

    p {
      margin: 10px;
      padding: 5px 20px;

      @media (max-width: 500px) {
        margin: 5px;
        padding: 5px;
      }

      &.name {
        font-size: 2em;
        font-family: 'PT Mono';

        @media (max-width: 550px) {
          font-size: 1.4em;
        }
      }
    }
  }

  .about {
    @media (max-width: 850px) {
      padding-top: 10vw;
      padding-bottom: 0;
    }

    @media (max-width: 500px) {
      padding-top: 50px;
    }
  }

  .skills {
    ul {
      padding: 20px;

      @media (max-width: 500px) {
        padding: 10px 5px;
      }

      >li {
        margin: 5px;
        padding: 3px 10px;
        border-radius: 20px;
        display: inline-block;
      }
    }
  }

  .title {
    margin: 0;

    @media (max-width: 950px) {
      font-size: 1.7em;
    }

    @media (max-width: 500px) {
      font-size: 1.4em;
    }
  }

  p {

    @media (max-width: 500px) {
      font-size: 1em;
    }
  }
}

#Projects {
  color: #fff;
  min-height: 100vh;
  background: #0f161e;
  border-bottom: 1px solid transparent;

  ul {
    padding: 0;
    margin: auto;
    max-width: 1200px;
  }

  .title {
    margin: 0;
    padding-top: 5%;
  }

  .item {
    opacity: 0;
    margin: 5% 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    align-items: center;
    background: #181e28;
    border: 1px dashed #444;
    transition: opacity ease-in-out 1s;

    &.show {
      opacity: 1;
    }

    @media (max-width: 750px) {
      padding: 10px 0;
      flex-direction: column;
    }

    img,
    .info {
      padding: 1%;
      min-width: calc(50% - 0.5px);
      max-width: calc(50% - 0.5px);
    }

    img {
      height: 400px;

      @media (max-width: 1200px) {
        height: 325px;
      }

      @media (max-width: 1000px) {
        height: 300px;
      }

      @media (max-width: 850px) {
        height: 250px;
      }

      @media (max-width: 750px) {
        height: 50vw;
        min-width: 98%;
      }
    }

    .separator {
      align-self: stretch;
    }

    .info {
      padding: 1% 2%;

      @media (max-width: 750px) {
        min-width: 98%;
      }

      .tech {
        h3 {
          margin: 0;
          padding: 10px 0;
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 5px;
            color: #fff;
            padding: 3px 10px;
            white-space: nowrap;
            border-radius: 20px;
            background: #1a3bbd;
          }
        }
      }

      .external {
        display: flex;
        margin-top: 20px;
        justify-content: center;

        a {
          margin: 5px;
          color: #000;
          display: flex;
          min-width: 128px;
          font-size: 0.9em;
          font-weight: 400;
          padding: 5px 10px;
          border-radius: 2px;
          align-items: center;
          background: #d0d3ff;
          text-decoration: none;
          justify-content: center;

          @media (max-width: 400px) {
            min-width: auto;
          }

          svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;

            @media (max-width: 400px) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

#Contact {
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 150px);

  form {
    margin: auto;
    max-width: 600px;

    label {
      display: flex;
      margin-bottom: 15px;
      flex-direction: column;

      span {
        padding: 5px 0;
        font-weight: 400;
      }

      input,
      textarea {
        padding: 10px;
        font-size: 0.9em;
        border-radius: 2px;
        background: inherit;
      }

      textarea {
        resize: vertical;
        min-height: 200px;
      }
    }

    button {
      width: 200px;
      margin: auto;
      display: block;
      max-width: 90%;
      cursor: pointer;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 2px;
      background: inherit;

      &:hover {
        border: none;
      }
    }
  }
}

#Toast {
  top: 5%;
  right: 10%;
  color: #ece9ff;
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  background: #0c0d0f;
  border: 1px solid #555;
}

#Footer {
  padding: 20px 5px;
  display: flex;
  min-height: 150px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  a {
    margin: 5px;
    color: inherit;
    text-decoration: none;
  }

  ul {
    display: flex;

    li a svg {
      width: 25px;
      height: 25px;
      margin: 5px;
    }
  }
}

#Credit {
  display: flex;
  align-items: center;

  div:nth-child(2) {
    display: flex;
    white-space: nowrap;
    align-items: center;

    @media (min-width: 701px) {

      &:before,
      &:after {
        content: "";
        width: 5px;
        height: 5px;
        margin: 0 7px 0 5px;
        border-radius: 50%;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  @media (max-width: 700px) {
    font-size: 0.9em;
    flex-direction: column;
  }
}
