@import url('https://fonts.googleapis.com/css?family=Arizonia|Charmonman:700|Abel&display=swap');

html {
  font-size: 16px;

  @media (max-width: 600px) {
    font-size: 14px;
  }

  @media (max-width: 350px) {
    font-size: 12px;
  }
}

* {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: Abel;
}

h1,
h2,
ul,
body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  color: #080d3c;
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
  padding: 20px 10px;
}

.error {
  margin: 0;
  padding: 5px 0;
  color: #d71818;
  font-size: 0.8em;
}

#App {
  overflow: auto;
  max-height: 100vh;
}

#Header {
  width: 100%;
  color: #fff;
  height: 12vw;
  padding: 10px;
  display: flex;
  z-index: 1000;
  position: fixed;
  min-height: 60px;
  align-items: center;
  background: #141c24;
  justify-content: center;
  border-bottom: 1px dashed #444;

  .brand {
    width: 25%;
    padding: 0 3%;
    font-size: 2em;
    font-weight: 700;
    font-family: Arizonia;

    @media (max-width: 850px) {
      text-align: center;
    }

    @media (max-width: 600px) {
      font-size: 1.5em;
    }

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  .nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 850px) {
      width: 75%;
    }

    li {
      text-transform: uppercase;
      border-bottom: 2px solid transparent;

      a {
        color: #fff;
        display: block;
        padding: 5px 1vw;
        font-weight: 700;
        text-decoration: none;
      }

      &:hover {
        border-bottom-color: #fff;
      }
    }
  }
}

#avatar {
  left: 0;
  right: 0;
  width: 15vw;
  height: 15vw;
  bottom: calc(-15vw / 2);
  margin: auto;
  padding: 2px;
  position: absolute;

  @media (max-width: 500px) {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    position: unset;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
    border: 1px dashed #777;
  }

  ul {
    width: 50px;
    margin: auto;
    margin-top: -25px;
    padding-top: 15px;
    text-align: center;
    background: #141c24;
    border: 1px dashed #444;
    border-top: none;
    border-radius: 0 0 30px 30px;

    @media (max-width: 500px) {
      width: 32px;
    }

    &:hover {
      margin-top: -15px;

      li {
        opacity: 1;
        height: 40px;
      }
    }

    li {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all ease-out 0.5s;

      a {
        display: block;
        padding: 5px 12px;

        @media (max-width: 500px) {
          padding: 4px;
        }

        &:hover {
          svg {
            fill: #d0d3ff;

            &.angel_svg__angel path:last-child {
              fill: #d0d3ff;
            }
          }
        }

        svg {
          fill: #9fa4ff;
        }
      }

      &.toggle {
        opacity: 1;
        height: auto;
        padding: 7px 0 0;
        background: #181e28;
        border-radius: 0 0 30px 30px;

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

#Vitrine {
  display: flex;
  margin-top: 12vw;
  background: #181e28;
  min-height: calc(100vh - 12vw);

  @media (max-width: 850px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    margin-top: 60px;
  }

  .about,
  .skills {
    flex: 1;
    min-width: 49%;
    padding: 7.5vw 5% 5%;

    @media (max-width: 400px) {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .card {
    color: #fff;
    height: 100%;
    border-radius: 5px;
    background: #141c24;
    border: 1px dashed #444;

    @media (max-width: 850px) {
      width: 98%;
      margin: auto;
      max-width: 600px;
    }

    .title {
      padding: 10px;
      color: inherit;
      border-bottom: 1px dashed #444;
    }

    p {
      margin: 10px;
      padding: 5px 20px;

      @media (max-width: 500px) {
        padding: 5px;
      }

      &.name {
        color: #e7ee11;
        font-size: 1.1em;
        font-weight: 700;
        font-family: Charmonman;
      }
    }
  }

  .about {
    @media (max-width: 850px) {
      padding-top: 10vw;
      padding-bottom: 0;
    }

    @media (max-width: 500px) {
      padding-top: 50px;
    }
  }

  .skills {
    ul {
      padding: 20px;

      @media (max-width: 500px) {
        padding: 10px 5px;
      }

      >li {
        margin: 5px;
        color: #fff;
        padding: 3px 10px;
        border-radius: 20px;
        display: inline-block;
        background: #1a3bbd;
      }
    }
  }

  .separator {
    border-right: 1px dashed #444;
  }

  .title {
    margin: 0;

    @media (max-width: 950px) {
      font-size: 1.7em;
    }

    @media (max-width: 500px) {
      font-size: 1.4em;
    }
  }

  p {

    @media (max-width: 500px) {
      font-size: 1em;
    }
  }
}

#Projects {
  min-height: 100vh;
  background: #0f161e;
  border-bottom: 1px solid transparent;

  ul {
    padding: 0;
    margin: auto;
    max-width: 1200px;
  }

  .title {
    margin: 0;
    color: #fff;
    padding-top: 5%;
  }

  .item {
    opacity: 0;
    color: #fff;
    margin: 5% 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    align-items: center;
    background: #181e28;
    border: 1px dashed #444;
    transition: opacity ease-in-out 1s;

    &.show {
      opacity: 1;
    }

    @media (max-width: 750px) {
      padding: 10px 0;
      flex-direction: column;
    }

    img,
    .info {
      padding: 1%;
      min-width: calc(50% - 0.5px);
      max-width: calc(50% - 0.5px);
    }

    img {
      height: 400px;

      @media (max-width: 1200px) {
        height: 325px;
      }

      @media (max-width: 1000px) {
        height: 300px;
      }

      @media (max-width: 850px) {
        height: 250px;
      }

      @media (max-width: 750px) {
        height: 50vw;
        min-width: 98%;
      }
    }

    .separator {
      align-self: stretch;
      border-left: 1px dashed #444;
    }

    .info {
      padding: 1% 2%;

      @media (max-width: 750px) {
        min-width: 98%;
      }

      .tech {
        h3 {
          margin: 0;
          padding: 10px 0;
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 5px;
            color: #fff;
            padding: 3px 10px;
            white-space: nowrap;
            border-radius: 20px;
            background: #1a3bbd;
          }
        }
      }

      .external {
        display: flex;
        margin-top: 20px;
        justify-content: center;

        a {
          margin: 5px;
          color: #000;
          display: flex;
          min-width: 128px;
          font-size: 0.9em;
          font-weight: 400;
          padding: 5px 10px;
          border-radius: 2px;
          align-items: center;
          background: #d0d3ff;
          text-decoration: none;
          justify-content: center;

          @media (max-width: 400px) {
            min-width: auto;
          }

          svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;

            @media (max-width: 400px) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

#Contact {
  padding: 20px;
  color: #fff;
  position: relative;
  background: #070815;
  min-height: calc(100vh - 150px);

  .title {
    color: #fff;
  }

  form {
    margin: auto;
    max-width: 600px;

    label {
      display: flex;
      margin-bottom: 15px;
      flex-direction: column;

      span {
        padding: 5px 0;
        font-weight: 400;
      }

      input,
      textarea {
        color: #fff;
        padding: 10px;
        font-size: 0.9em;
        border-radius: 2px;
        background: inherit;
        border: 1px dashed #555;
      }

      textarea {
        resize: vertical;
        min-height: 200px;
      }
    }

    button {
      width: 200px;
      margin: auto;
      color: #fff;
      display: block;
      max-width: 90%;
      cursor: pointer;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 2px;
      background: inherit;
      border: 1px dashed #555;

      &:hover {
        border: none;
        background: #0f161e;
      }

      &:active {
        color: #000;
        background: #fff;
      }
    }
  }
}

#Toast {
  top: 5%;
  right: 10%;
  color: #ece9ff;
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  background: #0c0d0f;
  border: 1px solid #555;
}

#Footer {
  padding: 20px 5px;
  display: flex;
  color: #ece9ff;
  min-height: 150px;
  text-align: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  justify-content: center;

  a {
    margin: 5px;
    color: inherit;
    text-decoration: none;
  }

  ul {
    display: flex;

    li a {
      svg {
        width: 25px;
        height: 25px;
        margin: 5px;
        fill: #9fa4ff;

        &:hover {
          fill: #d0d3ff;
        }

        &.angel_svg__angel:hover path:last-child {
          fill: #d0d3ff;
        }
      }
    }
  }
}

#Credit {
  display: flex;
  align-items: center;

  div:nth-child(2) {
    display: flex;
    white-space: nowrap;
    align-items: center;

    @media (min-width: 701px) {

      &:before,
      &:after {
        content: "";
        width: 5px;
        height: 5px;
        margin: 0 7px 0 5px;
        border-radius: 50%;
        background: #dcffc4;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  @media (max-width: 700px) {
    font-size: 0.9em;
    flex-direction: column;
  }
}
